In [2]:
import os
import json
import numpy as np
import math
import pandas as pd

In [3]:
# Chemins utiles
dir_path = os.getcwd()
# Dossier data
data_dir_path = os.path.join(dir_path, '0 - data')
# Dossier fiches métiers scraping
output_dir_path = os.path.join(dir_path, '00 - Scraping output')
# Fichier Onisep links
onisep_link_file = os.path.join(data_dir_path, 'Onisep_metier_link.csv')
# Liste des métiers
jobs_list = os.listdir(output_dir_path)
len(jobs_list)

734

In [4]:
onisep_links = pd.read_csv(onisep_link_file, sep=';', header=0)
onisep_links.head()

,libellé métier,lien site onisep.fr
0,technicien/ne de fabrication de mobilier et de...,http://www.onisep.fr/http/redirection/metier/i...
1,agenceur/euse de cuisines et salles de bains,http://www.onisep.fr/http/redirection/metier/i...
2,chef/fe de fabrication des industries graphiques,http://www.onisep.fr/http/redirection/metier/i...
3,conducteur/trice de machines à imprimer,http://www.onisep.fr/http/redirection/metier/i...
4,opérateur/trice prépresse,http://www.onisep.fr/http/redirection/metier/i...

In [5]:
fiche_path = os.path.join(output_dir_path, '10002.json')
with open(fiche_path) as f:
    metier = json.load(f)
    f.close()

list(metier.keys())

['Secteur(s) professionnel(s) ',
 "Centre(s) d'intérêt ",
 'Métier',
 'Salaire débutant  ',
 "Niveau d'accès ",
 'Carrière et salaire',
 'chapo',
 "Où l'exercer",
 'Le métier',
 'Statut(s) ',
 'Synonymes ',
 'Métiers Associés ']

In [6]:
interet_liste = []
secteur_liste = []
niveau_liste = []
salaire_liste = []
statut_liste = []
for identifiant in jobs_list:
    fiche_path = os.path.join(output_dir_path, identifiant)
    with open(fiche_path) as f:
        metier = json.load(f)
        f.close()
    #print(metier)
    try:
        for interet in metier["Centre(s) d'intérêt "]:
            if interet not in interet_liste:
                interet_liste.append(interet)
    except:
        pass
    
    try:
        for secteur in metier["Secteur(s) professionnel(s) "]:
            if secteur not in secteur_liste:
                secteur_liste.append(secteur)
    except:
        pass

    try:
        for niveau in metier["Niveau d'accès "]:
            if niveau not in niveau_liste:
                niveau_liste.append(niveau)
    except:
        pass
    
    try:
        for salaire in metier["Salaire débutant  "]:
            if salaire not in salaire_liste:
                salaire_liste.append(salaire)
    except:
        pass
    
    try:
        for statut in metier["Statut(s) "]:
            if statut not in statut_liste:
                statut_liste.append(statut)
    except:
        pass

In [8]:
print("Nombre de centre d'intérêt =", len(interet_liste))
print("Nombre de secteurs professionnels =", len(secteur_liste))
print("Nombre de niveaux d'accès =", len(niveau_liste))
print("Nombre de salaire débutants =", len(salaire_liste))
print("Nombre de statut =", len(statut_liste))
salaire_liste

Nombre de centre d'intérêt = 25
Nombre de secteurs professionnels = 32
Nombre de niveaux d'accès = 14
Nombre de salaire débutants = 133
Nombre de statut = 9

['1700 euros',
 '1500 euros',
 '2916 euros',
 '1466 euros',
 '1648 euros',
 '1890 euros',
 '2130 euros',
 '2000 euros',
 '2024 euros',
 '2333 euros',
 '1478 euros',
 '2500 euros',
 '2250 euros',
 '1615 euros',
 '1950 euros',
 '1480 euros',
 '1599 euros',
 '2900 euros',
 '1600 euros',
 '2800 euros',
 '2902 euros',
 '2100 euros',
 'Smic. euros',
 '1529 euros',
 '2080 euros',
 '1718euros brut par mois (dans le public) et 1829 euros brut par mois (dans le privé). euros',
 '1842 euros',
 '1540 euros',
 '1768 euros',
 '2083 euros',
 '1662 euros',
 '1430 euros',
 '2700 euros',
 '1705 euros',
 '1443 euros',
 'Variable euros',
 '2600 euros',
 '1800 euros',
 '1900 euros',
 '1550 euros',
 '3300 euros',
 '4100 euros',
 '1907 euros',
 '2200 euros',
 '2750 euros',
 '2465 euros',
 'Smic euros',
 '2950 euros',
 '1830 euros',
 '500 euros',
 '2400 euros',
 '1916 euros',
 '3000 euros',
 '2300 euros',
 '1536 euros',
 '2543 euros',
 '2435 euros',
 '1775 euros',
 '4160 euros',
 '1551 euros',
 '1792 euros',
 '1870 euros',
 '1880 euros',
 '2050 euros',
 '1602 euros',
 '935 euros',
 '2848 euros',
 '1665 euros',
 '1475 euros',
 '1404 euros',
 '2690À euros',
 '1495 euros',
 '856 euros',
 '2166 euros',
 '1515 euros',
 '1200 euros',
 '3500 euros',
 '2833 euros',
 '3394 euros',
 '3080 euros',
 '1400 euros',
 '2666 euros',
 '2035 euros',
 '1514 euros',
 '2102 euros',
 '4081 euros',
 'De1528 à 1962 euros',
 '3250 euros',
 '2006 euros',
 '2330 euros',
 '1520 euros',
 '1560 euros',
 '1380 euros',
 '1486 euros',
 '2270 euros',
 '2431 euros',
 '1401 euros',
 '3200 euros',
 '1725 euros',
 '4350 euros',
 '1590 euros',
 '3333 euros',
 '2575 euros',
 '2092 euros',
 '2174 euros',
 '3100 euros',
 '1365 euros',
 '1690 euros',
 '1713 euros',
 '1616 euros',
 '1636 euros',
 '2055 euros',
 '1666 euros',
 '3234 euros',
 '2148 euros',
 '2416 euros',
 '1675 euros',
 '1640 euros',
 '1891 euros',
 '2246 euros',
 '2131 euros',
 '1450 euros',
 '2307 euros',
 '2910 euros',
 '2158 euros',
 '2370 euros',
 '1410 euros',
 '2544 euros',
 '1822 euros',
 '1660 euros',
 '2140 euros',
 '1980 euros',
 '2016 euros']

In [ ]:

df = pd.DataFrame(columns = ['Code Onisep', 'Métier'] + interet_liste + secteur_liste + statut_liste
                 + ['Niveau diplome', 'Salaire débutant'])

j = 0
for job in jobs_list[0:10]:
    code_oni = job[0:6]
    if code_oni[5]=='.':
        code_oni=code_oni[0:5]
    df.loc[j,'Code Onisep'] = code_oni
    
    fiche_path = os.path.join(output_dir_path, job)
    with open(fiche_path) as f:
        metier = json.load(f)
        f.close()      
    #print(metier)
    df.loc[j,'Métier'] = metier["Métier"] 
    try:
        for interet in interet_liste:
            if interet in metier["Centre(s) d'intérêt "]:
                df.loc[j,str(interet)] = 1
        
            else:
                df.loc[j,str(interet)] = 0
    except:
        for interet in interet_liste:
            df.loc[j,str(interet)] = 0
    
    try:
        for secteur in secteur_liste:
            if secteur in metier["Secteur(s) professionnel(s) "]:
                df.loc[j,secteur] = 1
        
            else:
                df.loc[j,secteur] = 0
    except:
        for interet in interet_liste:
            df.loc[j,secteur] = 0
            
    try:
        for statut in statut_liste:
            if statut in metier["Statut(s) "]:
                df.loc[j,statut] = 1
        
            else:
                df.loc[j,statut] = 0
    except:
        for statut in statut_liste:
            df.loc[j,statut] = 0
    try:    
        if metier["Niveau d'accès "][0]=='3e':
            df.loc[j, 'Niveau diplome'] = -2
        elif metier["Niveau d'accès "][0]=='sans diplôme':
            df.loc[j, 'Niveau diplome'] = -3
        elif metier["Niveau d'accès "][0]=='diplôme national du brevet':
            df.loc[j, 'Niveau diplome'] = -1
        elif metier["Niveau d'accès "][0]=='CAP ou équivalent':
            df.loc[j, 'Niveau diplome'] = 0 
        elif metier["Niveau d'accès "][0]=='bac ou équivalent':
            df.loc[j, 'Niveau diplome'] = 1    
        elif metier["Niveau d'accès "][0]=='bac + 1':
            df.loc[j, 'Niveau diplome'] = 2
        elif metier["Niveau d'accès "][0]=='bac + 2':
            df.loc[j, 'Niveau diplome'] = 3
        elif metier["Niveau d'accès "][0]=='bac + 3':
            df.loc[j, 'Niveau diplome'] = 4    
        elif metier["Niveau d'accès "][0]=='bac + 5':
            df.loc[j, 'Niveau diplome'] = 5    
        elif metier["Niveau d'accès "][0]=='bac + 6':
            df.loc[j, 'Niveau diplome'] = 6    
        elif metier["Niveau d'accès "][0]=='bac + 7':
            df.loc[j, 'Niveau diplome'] = 7    
        elif metier["Niveau d'accès "][0]=='bac + 8':
            df.loc[j, 'Niveau diplome'] = 8    
        elif metier["Niveau d'accès "][0]=='bac + 9 et plus':
            df.loc[j, 'Niveau diplome'] = 9
    except:
        df.loc[j, 'Niveau diplome'] = 0

    j += 1
#for interet in interet_liste:
#df[['Code Onisep','Métier']] = onisep_links
df

In [60]:
fiche_path

'/home/timothee/PycharmProjects/ImpalaPoleEmploi2/Impala/Onisep/tsne/00 - Scraping output/100689.json'