In [1]:
# Ce script prend en entrée l'arborescence des activités au format xlxs et sort un document JSON qui reprend
# les informations utiles
import os
import pandas as pd
import json

In [2]:
# Préparation des chemins utiles
dir_path = os.getcwd()
# Arborescence des compétences
arbo_dir_path = os.path.join(dir_path, 'ArborescencesActivitesCompetences')
# Arborescence des activités
activites_data = os.path.join(arbo_dir_path, 'rome_arboactivités_juin62181.xlsx')
# Fichier de sortie
activites_output = os.path.join(dir_path, 'activites.json')

In [3]:
#Chargement des données dans un dataframe pandas
sheetname = 'Arbo Activités ROME Juin 2016'
header = 0
skiprows = 0
Data = pd.read_excel(activites_data, sheetname, header, skiprows)

In [4]:
Data.head()

,Niveau 1,Niveau 2,Niveau 3,Niveau 4,Niveau 5,Libellé,Code OGR,Libellé questionnaire,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Accueillir, informer, conseiller",NaN,NaN,NaN,NaN,NaN,NaN,Informer ou conseiller,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Accueillir, informer, orienter (un visiteur, u...",NaN,NaN,NaN,NaN,NaN,Accueillir ou orienter un client,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Délivrer des informations qui nécessitent un q...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Accueillir et renseigner les usagers pour le r...,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,"Accueillir la personne, cerner sa situation et...",559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Nombre de métiers
data_range = len(Data)

#Création du dictionnaire
data_dict = {}

i = 0
niv1 = 'nan'
niv2 = 'nan'
niv3 = 'nan'
niv4 = 'nan'
niv5 = 'nan'
ogr = 'nan'
question = 'nan'
list_same_niv = []
while i < data_range:
    if not type(Data.iloc[i,5]) == str:
        list_same_niv = []
        if type(Data.iloc[i,0]) == str:
            niv1 = Data.iloc[i,7]
            niv2 = 'nan'
            niv3 = 'nan'
            niv4 = 'nan'
            niv5 = 'nan'
            i += 1
            data_dict[niv1] = {}
        if type(Data.iloc[i,1]) == str:
            niv2 = Data.iloc[i,7]
            niv3 = 'nan'
            niv4 = 'nan'
            niv5 = 'nan'
            i += 1
            data_dict[niv1][niv2] = {}
        if type(Data.iloc[i,2]) == str:
            niv3 = Data.iloc[i,2]
            niv4 = 'nan'
            niv5 = 'nan'
            i += 1
            data_dict[niv1][niv2][niv3] = {}
        if type(Data.iloc[i,3]) == str:
            niv4 = Data.iloc[i,3]
            niv5 = 'nan'
            i += 1
            data_dict[niv1][niv2][niv3][niv4] = {}
        if type(Data.iloc[i,4]) == str:
            niv5 = Data.iloc[i,4]
            i += 1
            data_dict[niv1][niv2][niv3][niv4][niv5] = []

    if type(Data.iloc[i,5]) == str:
        list_same_niv.append([Data.iloc[i,5], Data.iloc[i,6]])
        i += 1
    if i == data_range:
        try:
            data_dict[niv1][niv2][niv3][niv4][niv5] = list_same_niv
        except:
            try:
                data_dict[niv1][niv2][niv3][niv4] = {}

            except:
                try:
                    data_dict[niv1][niv2][niv3] = {}
                    data_dict[niv1][niv2][niv3][niv4] = {}
                except:
                    data_dict[niv1][niv2] = {}
                    data_dict[niv1][niv2][niv3] = {}
                    data_dict[niv1][niv2][niv3][niv4] = {}
        data_dict[niv1][niv2][niv3][niv4][niv5] = list_same_niv
        break
    if not type(Data.iloc[i,5]) == str:
        try:
            data_dict[niv1][niv2][niv3][niv4][niv5] = list_same_niv
        except:
            try:
                data_dict[niv1][niv2][niv3][niv4] = {}

            except:
                try:
                    data_dict[niv1][niv2][niv3] = {}
                    data_dict[niv1][niv2][niv3][niv4] = {}
                except:
                    data_dict[niv1][niv2] = {}
                    data_dict[niv1][niv2][niv3] = {}
                    data_dict[niv1][niv2][niv3][niv4] = {}
        data_dict[niv1][niv2][niv3][niv4][niv5] = list_same_niv

In [6]:
# Copie des données au format JSON
with open(activites_output, 'w') as f:
        f.write(json.dumps(data_dict, indent=4))